<h2 class="title"><%=raw @entry.title %></h2>
<span class="created_at"><%= @entry.created_at %></span>
<ul class="post_info"> 
<div class="text"><%=raw @entry.text %></div>
<br />
<g:plusone></g:plusone>
</ul>
