<div id="container">
<div id="main">
<% @entries.each do |e| %>
<h2 class="title"><%=raw e.title %></h2>
<ul class="post_info"> 
<div class="text"><%=raw e.text %></div>
</ul>
<%end%>
<%= paginate @entries %>
</div>
</div>
